{% load static %}
<div id='slider' class="container-fluid home-slider">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-lable="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-lable="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-lable="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="http://127.0.0.1:8000/blog/remote-sensing-and-climate-change/"><img src="{% static 'img/python_picture.jpg' %}"
                                                                        class="d-block w-100" alt="First picture"></a>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <a href="http://127.0.0.1:8000/blog/biological-modularity/"><img src="{% static 'img/code.jpg' %}"
                                                                 class="d-block w-100" alt="Second picture"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second post</h5>
                    <p>Writing your post</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:8000/home/what-is-javascript/"><img
                        src="{% static 'img/third_img.jpg' %}" class="d-block w-100" alt="Third picture"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third post</h5>
                    <p>Writing your post</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
</div>